<div class="row">
    <div class="col-4 mt-5 ml-5" [style.display]="newProduct ? 'none' : 'block'">
        <input type="button" class="btn btn-secondary mb-1 mr-1" (click)="showCreateProduct()" value="Create Product">
    </div>
    <div class="col-4  mt-5 ml-5 border border-primary rounded" *ngIf="newProduct">
        <label class="mt-1">Name: 
            <input type="text" maxlength="20" [(ngModel)]="newProduct.name" required>
        </label>
        <br/>
        <label>Price: 
            <input type="number" step="0.01" [(ngModel)]="newProduct.price" required>
        </label>
        <br/>
        <input type="button" class="btn btn-secondary mb-1 mr-1" (click)="saveProduct()" value="Save">
        <input type="button" class="btn btn-danger" (click)="hideCreateProduct()" value="Cancel">
    </div>
</div>

<div class="row">
    <div class="col-8 m-5 border border-primary rounded">
        <div class="row justify-content-around m-1">
            <ng-container *ngFor="let product of products">
                <div class="col-3 m-2 border border-primary rounded" [style.display]="product.isEditing ? 'none' : 'block'">
                    <div class="mt-1">Name: {{product.name}}</div>
                    <div>Price: {{product.price | number: '1.2-2'}} aws</div>
                    <input type="button" class="btn btn-secondary mb-1 mr-1" (click)="showProductEdit(product)" value="Edit">
                    <input type="button" class="btn btn-danger" (click)="deleteProduct(product.id)" value="Delete">
                </div>
                <div class="col-3 m-2 border border-primary rounded" *ngIf="selectedProduct && product.isEditing">
                    <label class="mt-1">Name: 
                        <input type="text" maxlength="20" [(ngModel)]="selectedProduct.name" required>
                    </label>
                    <label>Price: 
                        <input type="number" step="0.01" [(ngModel)]="selectedProduct.price" required>
                    </label>
                    <input type="button" class="btn btn-secondary mb-1 mr-1" (click)="updateProduct()" value="Save">
                    <input type="button" class="btn btn-danger" (click)="hideProductEdit()" value="Cancel">
                </div>
            </ng-container>
        </div>
    </div>
</div>
