<div class="row">
    <div class="col-6 m-5 border border-primary rounded">
        <div class="row justify-content-around m-1" *ngFor="let productArray of productsMatrix">
            <button class="col-3 m-3 btn btn-primary" data-toggle="modal" data-target="#productModal" 
                *ngFor="let product of productArray" (click)="selectProduct(product)">
                <div>{{product.name}}</div>
                <div>{{product.price | number: '1.2-2'}} aws</div>
            </button>
        </div>
    </div>

    <div class="m-5 col-4 border border-primary rounded">
        <div class="row justify-content-around m-1" *ngFor="let item of cart | keyvalue">
            <input class="btn btn-primary" value="X" type="button" (click)="removeFromCart(item.key)" 
                [disabled]="twoForThreeSelection.indexOf(item.key) > -1 || halfPriceSelection.has(item.key)">
            <span>{{item.key.name}}</span>
            <span>x{{item.value}}</span>
            <span>{{(item.key.price * item.value) | number: '1.2-2'}}</span>
        </div>
        <div *ngIf="totalSum > 0">
            <div>--------------</div>
            <div>Total: {{totalSum | number: '1.2-2'}} aws</div>
        </div>
        <button class="btn btn-primary" *ngIf="cart.size > 0" (click)="clearCart()">Clear Cart</button>
    </div>
</div>

<div class="row">     
    <div class="m-5 col-3 border border-primary rounded">
        <div class="text-center mb-2"><u>2 for 3</u></div>
        <div class="row justify-content-around" *ngFor="let product of twoForThreeSelection; index as i">
            <input value="X" type="button" class="btn btn-primary" (click)="removeFromTwoForThreeSelection(i, product)">
            <span>{{product.name}}</span>
        </div>
    </div>
    <div class="m-5 col-3 border border-primary rounded">
        <div class="text-center"><u>Half Price</u></div>
        <div class="row justify-content-around" *ngFor="let item of halfPriceSelection | keyvalue">
            <input value="X" type="button" class="btn btn-primary" (click)="removeFromCart(item.key)">
            <span>{{item.key.name}}</span>
            <span>x{{item.value}}</span>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Deal</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="dealForm">
                    <label>
                        <input type="radio" formControlName="dealControl" value="twoForThree"> 2 for 3
                    </label>
                    <br/>
                    <label>
                        <input type="radio" formControlName="dealControl" value="halfPrice"> Half Price
                    </label>
                    <br/>
                    <label>
                        <input type="radio" formControlName="dealControl" value="none" checked> None
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addToCart()">Continue</button>
            </div>
        </div>
    </div>
</div>